@font-face {font-family: "Digital-7"; src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot"); src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg"); }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500,700&display=swap');

:root{
    --gray-light: rgb(164, 165, 173);
    --gray-mid-light: rgb(144,145,152);
    --gray: rgb(146, 147, 157);
    --gray-mid-shadow: rgb(104,105,110);
    --gray-shadow: rgb(84, 85, 89);
    --display: rgb(158, 172, 134);
    --display-draw: rgb(66, 73, 55);
    --display-draw-fade: rgb(155, 170, 131);
    --button-light: rgb(252, 242, 131);
    --button: rgb(251, 235, 69);
    --button-shadow: rgb(249, 228, 6);
}

body, html{
    font-family: 'Roboto Mono', monospace;
    background-color: #333;
    overscroll-behavior: none;
    touch-action: manipulation;
    user-select: none;
}


/* GENERAL CLASSES */

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}

.jcfe{
    justify-content: flex-end;
}

.jcc{
    justify-content: center;
}

.jcsa{
    justify-content: space-around;
}

.jcsb{
    justify-content: space-between;
}

.jcse{
    justify-content: space-evenly;
}

.aic{ 
    align-items: center;
}

.asfs{
    align-self: flex-start;
}

.asc{
    align-self: center;
}

.asfe{
    align-self: flex-end;
}

.mt-8{
    margin-top: 8px;
}

.mt-32{
    margin-top: 32px;
}

.ml-32{
    margin-left: 32px;
}

.mr-32{
    margin-right: 32px;
}

.fs-10{
    font-size: 10px;
}

.bold{
    font-weight: 700;
}

.pr{
    position: relative;
    top: 16px;
}

.o-1{
    opacity: 0.1;
}

.hidden{
    display: none;
}



/* CONSOLE */

#console{
    /* height: 100%; */
    width: auto;
    margin: 16px;
    background-color: var(--gray);
    border-radius: 16px;
    box-shadow: 
    0px 0px 8px 8px var(--gray),
    -8px 8px 0px 8px var(--gray-shadow),
    8px 8px 0px 8px var(--gray-shadow),
    -7px -8px 0px 8px var(--gray-light),
    7px -8px 0px 8px var(--gray-light),
    0 16px 32px 0px rgba(0, 0, 0, 0.33);
}



/* DISPLAY */

#display{
    display: flex;
    width: 300px;
    margin: 32px 48px;
    padding: 10px;
    /* border: 1px solid black; */
    border: 16px solid var(--gray-mid-light);
    border-top: 16px solid var(--gray-shadow);
    border-bottom: 16px solid var(--gray-light);
    background: var(--display);
    color: var(--display-draw);
}

#tetris{
    box-shadow: 0 0 0px 1px var(--display-draw);
}

#score-display, #level-clears, #high-score-display{
    height: 30px;
}

#score, #level #clears, #high-score{
    text-align: end;
}

#sidebar{
    margin: 0 0 0 20px;
}

#next-piece{
	box-shadow: 0 0 0px 1px var(--display-draw);
}

.digit{
    font-family: 'Digital-7'
}

.label{
    text-transform: uppercase;
    font-size: 12px;
}

#tetris-message{
    opacity: 0.1;
}

@keyframes flash{
    0% {opacity: 0.1;}
    33% {opacity: 0.1;}
    34% {opacity: 1;}
    66% {opacity: 1;}
    67% {opacity: 0.1;}
    100% {opacity: 0.1;}
}

#tetris-message.flash{
    animation-name: flash;
    animation-duration: 0.3s;
    animation-iteration-count: 6;
}

#pause.flash{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


/* CENTER */
/* BUMP */

#top-gradient{
    height: 48px;
    width: 100%;
    background: linear-gradient(
        0deg, 
        var(--gray) 10%, 
        var(--gray-light) 75%, 
        var(--gray) 100%);
    box-shadow: inset 0px 0px 4px 0px var(--gray);
}

#bottom-gradient{
    height: 48px;
    width: 100%;
    background: linear-gradient(
        180deg, 
        var(--gray) 10%, 
        var(--gray-shadow) 75%, 
        var(--gray) 100%);
    box-shadow: inset 0px 0px 4px 0px var(--gray);
}


/* LOWER HALF */
/* BUTTONS */

#lower-half{
    height: 422px;
}

button{
    border-radius: 50%;
    background: var(--button);
    background: linear-gradient(0deg, var(--button-shadow) 0%, var(--button-light) 100%);
    border: 0;
    box-shadow: 0px -1px 1px 1px var(--gray-shadow),
                0px -2px 1px 2px var(--gray-light),
                inset 0px 4px 1px 4px var(--button-light),
                inset 0px -4px 1px 4px var(--button-shadow),
                0px 2px 1px 2px var(--gray-shadow),
                0px 8px 2px 1px var(--gray-shadow);
    outline: none;
}
button:active{
    box-shadow: 0px -1px 1px 1px var(--gray-shadow),
    0px -2px 1px 2px var(--gray-light),
    inset 0px 0px 1px 1px var(--button-light),
    inset 0px 0px 1px 4px var(--button-shadow),
    0px 2px 1px 2px var(--gray-shadow),
    0px 2px 0px 0px var(--gray-shadow);
}

#settings-buttons button{
    width: 16px;
    height: 16px;
}

#direction-buttons button{
    width: 48px;
    height: 48px;
}

#hard-button{
    width: 80px;
    height: 80px;
}

.button-label{
    text-transform: uppercase;
    font-size: 0.8em;
}

#bottom-graphics{
    font-size: 1.6em;
    text-transform: uppercase;
    width: 6em;
    transform: rotate(-45deg);
    justify-content: center;
}

#not-really{
    text-transform: lowercase;
    font-size: 8px;
}

/* OTHER */
#keys{
    color: #ccc;
}